
head {
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
}

body {
	background-color: #f3e9c0c1;
	font-family: 'Nunito', sans-serif;
	/* Her angiver du hex-koden for den ønskede farve */
}


/* Style vores tilbage-knap */
.back-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #e7cb97c1;
	color: rgb(0, 0, 0);
	font-family: 'Nunito', '' sans-serif;
	text-decoration: none;
	border-radius: 5px;
}

/* Når musen er over knappen */
.back-button:hover {
	background-color: #cab07ec1;
}